/*************************************************
// COULEURS DU SITE
*************************************************/

$blanc : #ffffff;
$noir : #000000;
$gris : #7a8285;
$gris-dark : #171313;
$gris-light : #d5d5d5;

$primary : #FF6060;
$secondary : #F7F7F7;
$tertiary : #FF6060;

/*************************************************
// CLASS COLORS
*************************************************/

.blanc {
    color: $blanc !important;

    &-bg {
        background: $blanc;
        color: inherit !important;
    }
}

.gris {
    color: $gris !important;

    &-bg {
        background: $gris;
        color: inherit !important;
    }
}

.noir {
    color: $noir !important;

    &-bg {
        background: $noir;
        color: inherit !important;
    }
}

.primary {
    color: $primary !important;

    &-bg {
        background: $primary;
        color: inherit !important;
    }
}

.secondary {
    color: $secondary !important;

    &-bg {
        background: $secondary;
        color: inherit !important;
    }
}